.title {
  text-align: center;
}
.my-class {
  border: 2px solid black;
  padding: 4px;
  background-color: #CFF9FF;
}
.pic{
  text-align: center;
}
.pic1 {
  padding: 20px;
}
.tab {
  text-indent: 40px;
}
.black {
  background-color: black;
}
